<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rento"
        tools:targetApi="31">
        <activity
            android:name=".Hostel6Activity"
            android:exported="false" />
        <activity
            android:name=".Hostel5Activity"
            android:exported="false" />
        <activity
            android:name=".Hostel4Activity"
            android:exported="false" />
        <activity
            android:name=".Hostel3Activity"
            android:exported="false" />
        <activity
            android:name=".Hostel2Activity"
            android:exported="false" />
        <activity
            android:name=".Hostel1Activity"
            android:exported="false" />
        <activity
            android:name=".Home6Activity"
            android:exported="false" />
        <activity
            android:name=".Home5Activity"
            android:exported="false" />
        <activity
            android:name=".Home4Activity"
            android:exported="false" />
        <activity
            android:name=".DrawerActivity"
            android:exported="false"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.Rento.NoActionBar" />
        <activity
            android:name=".Home3Activity"
            android:exported="false" />
        <activity
            android:name=".Home2Activity"
            android:exported="false" />
        <activity
            android:name=".Home1Activity"
            android:exported="false" />
        <activity
            android:name=".HostelsActivity"
            android:exported="false" />
        <activity
            android:name=".RentalsActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsCardActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileCardActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".HomeCardActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".FAQCardActivity"
            android:exported="false" />
        <activity
            android:name=".BlogCardActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>